@model VFT.OCT.Models.Oct

@{
    ViewData["Title"] = "Edit";
}



<div class="card" style="width:40%;border:solid 2px lightblue;">
    <div class="card-header bg-primary" style="text-align:center;font-weight:bolder;background-color:lightblue;">Update Patient Information</div>
    <div class="card-body">
<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScanId" />
            <div class="form-group">
                <label class="control-label">Patient Name</label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Referred Doctor</label>
                <input asp-for="ReferredDrName" class="form-control" />
                <span asp-validation-for="ReferredDrName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Facility</label>
                <input asp-for="ReFfacility" class="form-control" />
                <span asp-validation-for="ReFfacility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Optic Nerve Head</label>
                <input asp-for="Onh" class="form-control" />
                <span asp-validation-for="Onh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Macula" class="control-label"></label>
                <input asp-for="Macula" class="form-control" />
                <span asp-validation-for="Macula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pachymetry" class="control-label"></label>
                <input asp-for="Pachymetry" class="form-control" />
                <span asp-validation-for="Pachymetry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
</div>
@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
