
<br />
<div class="card" style="display:flex; justify-content:center;">
    <div class="card-body" style="display:flex; justify-content:center;">
<h3>Patient with ID: @ViewBag.id,  Updated Successfully</h3>

</div>
<br />
<div style="display:flex;justify-content:center;">
    <a asp-action="Create" style="text-decoration:none; text-align:center;background-color:darkgoldenrod;
width:10%; border-radius: 10px; font-weight:bolder; color:white;">Go Back</a>
    </div>
</div>
