@{
    ViewData["Title"] = "Home Page";
}
<br />
<p style="color:darkgoldenrod; text-align:center;font-size:1.5rem;font-weight:bolder;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    Welcome To Our Ophthalmic Imaging Centre</p>
    
<div style="display:flex; justify-content:center;">
<img src="~/Images/ivue-oct.jpg" style="width:100%;"/>
</div>